/* Write your CSS! */

@import "_mixins.scss";


html {
  -webkit-font-smoothing: antialiased
}

body {
  font-family: 'Open Sans', Helvetica Neue, Helvetica, Arial, sans-serif;
  text-rendering: optimizeLegibility;
  line-height: 1.6em;
}

.wow {
  visibility: hidden;
}

/* HOME PAGE STYLES */

header {
    height: 200px;
}

section.homeProject {
    height: 500px;
    color: #fff;
    position: relative;
    overflow: hidden;

    h1 {
        text-shadow: 1px 1px 2px rgba(0,0,0,.4);
        font-weight: 300;
        padding: 100px 60px 30px 60px;
    }

    p.desc {
        line-height: 1.6em;
        width: 40%;
        margin-left: 60px;
        text-shadow: 1px 1px 1px rgba(0,0,0,.2);
        color: rgba(255,255,255,.8);
    }

    .homeImage {
      position: absolute;
      width: 50%;
      height: 500px;
      z-index: 1;
      bottom: -20px;
      right: 0;
  }

  a.viewProject {
    color: #fff;
    padding: 10px;
    text-align: center;
    width: 150px;
    border: 1px solid #fff;
    border-radius: 5px;
    text-decoration: none;
    display: block;
    margin-top: 50px;
    @include transition(all 0.3s ease); 
}

a.viewProject:hover {
    background: #fff;
    color: #000;
    text-shadow:none;
}
}


.cbcradioapp {
  @include radial-gradient-bg(120%, 100%, #acd8ff, 0%, #004b8c, 50%, #09131c, 100%);
}
.byron {
  @include radial-gradient-bg(120%, 100%, white, 10%, #85D8CE, 50%, #085078, 120%);
}
.masseys {
  @include radial-gradient-bg(120%, 100%, #53524e, 10%, #362c2a, 50%, #16120f, 120%);
}


/* PROJECT PAGE STYLES */

.project {

  .closeProject {
      display: block;
      height: 40px;
      width: 40px;
      text-indent: -9999px;

      position: fixed;
      top: 30px;
      left: 30px;
      z-index: 999;
      @include opacity(.3);
      @include transition(all 0.3s ease);
    }
  .closeProject:hover { 
    @include opacity(1);
   }

  .light {
    background: url(assets/img/close-project-white.png) no-repeat;
  }
  .dark {
    background: url(assets/img/close-project-grey.png) no-repeat;
  }

  header {
    height: 600px;
    position: relative;
    z-index: 1;
    padding-top: 30px;
  
    h1 {
        text-shadow: 1px 1px 2px rgba(0,0,0,.4);
        font-weight: 300;
        text-align: center;
        font-size: 4em;
        line-height: 2em;
        letter-spacing: -3px;
        width: 90%;
        margin: 0 auto;
        line-height: 1.3em;
    }
    p.desc {
        width: 80%;
        max-width: 700px;
        margin: 20px auto;
        text-align: center;
        text-shadow: 1px 1px 1px rgba(0,0,0,.2);
        color: rgba(255,255,255,.8);
    }
  }

  section {
      color: #666;
  }
  img {
    max-width: 90%;
}
  p.centered {
      width: 80%;
      max-width: 800px;
      margin: 100px auto;
  }
  .centeredScreen {
      text-align: center;
      padding: 50px 0;
      background: #f7f7f7;
  }
}

body#cbcradioapp header {
    @include radial-gradient-bg(120%, 100%, #acd8ff, 0%, #004b8c, 50%, #09131c, 100%);
    color: #fff;
}

.project section.hero {
  margin: -415px auto 0;
  position: relative;
  z-index: 2;
  width: 100%;
  text-align: center;
  /*background: url(../assets/img/cbcradio/cbcradio-topImage-1200.png) top center no-repeat;*/
}


body#byron header {
    @include radial-gradient-bg(120%, 100%, white, 10%, #85D8CE, 50%, #085078, 120%);
    color: #fff;
}






  /* Large Devices, Wide Screens */
  @media only screen and (min-width : 1200px) {
    
    
  }

    /* Medium Devices, Desktops */
  @media only screen and (max-width : 1200px) {
    
    
  }

  /* Small Devices, Tablets */
  @media only screen and (max-width : 900px) {
    .project header h1 {
        font-size: 2.5em;
    }
    .project header {
        height: 400px;
    }

    section.hero {
        margin: -250px auto 0 !important;
    }
    
    
  }

  /* Extra Small Devices, Phones */ 
  @media only screen and (max-width : 700px) {
    .project {
        font-size: .9em;

        .closeProject {
          display: none;
        }

        p.centered {
          margin: 30px auto;
        }
        .centeredScreen {
          padding: 30px 0;
        }
    }

    .project header h1 {
        font-size: 2em;
        padding-bottom: 10px;
        letter-spacing: -1px;
    }
    
    .project header {
        height: 275px;
        padding-top: 20px;

        p.desc { 
          line-height: 1.4em;
          margin: 10px auto;
        }
    }
    
    section.hero {
        margin: -100px auto 0 !important;
    }

  }
